@charset "UTF-8";

@import url(reset.css);
@import url(font.css);

body {font-family: "Pretendard", sans-serif;}
.container{max-width: 1620px;margin: 0 auto;border: 1px solid #000;}


header {height: 178px;}


header .topset{display: flex;justify-content: space-between;}
header .langbox{display: flex;font-size: 14px;gap: 13px;align-items: center;color: #808080;margin-left: 6.5vw;}
header .langbox a{padding: 10px 0;color: #808080;}
header .langbox a.on{color: #05456e;font-weight:600;}

header h1{margin-top: 20px;}
header h1 a{}
header h1 a img{}

header .baro{display: flex;gap: 25px;align-items: center;margin-right: 6.5vw;}
header .baro a{padding: 10px 0;font-size: 14px;color: #808080;}

header nav{}
header nav .gnb{display: flex;justify-content: space-between;}
header nav .gnb li{font-size: 20px;flex-grow: 1;transition: .2s;}
header nav .gnb li a{color: #05456e;padding: 25px 40px;display: flex;justify-content: center;}

header nav .gnb li:hover{font-size: 24px;font-weight: bold;}

.hero{height: 650px; background: #eee;}

.section_box{}

footer{height: 225px;background: #d9d9d9;}